#scheduleComponent {
    margin-bottom: 100px;
}

.scheduleContainer {
    padding: 50px;
}

#scheduleForm {
    height: 400px;
}

#backToSchedule:hover {
    cursor: pointer;
}

.highlight:hover{
    cursor: pointer;
}

#riders {
    margin-bottom: 0;
}

.btn-floating {
    margin-top: -20px;
    margin-right: -26px;
}

#nav-mobile {
    padding-right: 5px;
    padding-left: 5px;
}

.collection-item {
    min-height: 60px !important;
}
