#scheduleComponent {
    margin-bottom: 100px;
}

#scheduleForm {
    height: 400px;
}

#backToSchedule:hover {
    cursor: pointer;
}

.highlight:hover{
    cursor: pointer;
}

#riders {
    margin-bottom: 0;
}

.btn-floating {
    margin-top: -33px;
    margin-right: -26px;
}
